variables:
  Title: System Info

trigger:
  branches:
    include:
    - main-SKIP

jobs:

- job: Info
  displayName: Sys Info
  pool:
    vmImage: '$(IMAGE)'
  timeoutInMinutes: 120
  strategy:
    maxParallel: 9
    matrix:
      'Windows 2022':
        IMAGE: 'windows-2022'
      'Windows 2025':
        IMAGE: 'windows-2025'
      'Ubuntu 24.04':
        IMAGE: 'ubuntu-24.04'
      'Ubuntu 22.04':
        IMAGE: 'ubuntu-22.04'
      'MacOS 15':
        IMAGE: 'macos-15'
      'MacOS 14':
        IMAGE: 'macos-14'

  steps:

  - bash: 'script=https://devizer.github.io/devops-library/Standalone-Bootstrap.sh; file="${TMPDIR:-/tmp}/$(basename "$script")"; cmd="curl -kfsSL -o $file $script"; $cmd || $cmd || $cmd || echo "ERROR."; bash "$file"'
    displayName: 'Bootstrap'
  
  - pwsh: Probe Core Module
    run: 'Import-DevOps; Write-Line -TextYellow "[$($PSVersionTable.PSEdition)] $((Get-Memory-Info).Description)"; Write-Line -TextYellow PSModulePath; $env:PSModulePath -split [IO.Path]::PathSeparator | Sort-Object | % { "   $_" }; Write-Line -TextYellow ENVIRONMENT; Get-ChildItem Env: | Sort-Object Name | ForEach-Object { "$($_.Name)=$($_.Value)" };'

  - powershell: Probe Desktop Module
    condition: eq(variables['Agent.OS'], 'Windows_NT')
    run: 'Import-DevOps; Write-Line -TextYellow "[$($PSVersionTable.PSEdition)] $((Get-Memory-Info).Description)"; Write-Line -TextYellow PSModulePath; $env:PSModulePath -split [IO.Path]::PathSeparator | Sort-Object | % { "   $_" }; Write-Line -TextYellow ENVIRONMENT; Get-ChildItem Env: | Sort-Object Name | ForEach-Object { "$($_.Name)=$($_.Value)" };'

  - bash: 'Say "CPU: $(Get-CpuName)"; printenv | sort'
    displayName: 'Environment'

  - bash: |
       set -eu; set -o pipefail
       cd Scripts
       bash -e Show-System-Info.sh
    displayName: 'System Info'

  - task: PublishBuildArtifacts@1
    condition: succeededOrFailed()
    displayName: 'Publish'
    inputs:
      pathtoPublish: '$(System.ARTIFACTSDIRECTORY)'
      artifactName: '$(Agent.JobName)'


- job: 'Combine'
  condition: succeededOrFailed()
  pool:
    vmImage: 'ubuntu-latest'
  timeoutInMinutes: 30
  dependsOn:
    - Info

  steps: 

  - task: DownloadPipelineArtifact@2
    condition: succeededOrFailed()
    displayName: 'Download of all platforms to $(RAW_ARTIFACTS_DIR)'
    inputs:
      path: '$(SYSTEM.ARTIFACTSDIRECTORY)/All'
      patterns: 
        "**"
    
  - bash: |
       set -eu; set -o pipefail
       cd $SYSTEM_ARTIFACTSDIRECTORY/All
       find . -name 'Azure*' | tee ~/reports
       cat ~/reports | while IFS='' read -r file; do
         cp -v -r "$file" $SYSTEM_ARTIFACTSDIRECTORY/
       done
    condition: succeededOrFailed()
    displayName: 'Prepare Artifacts'

  - task: PublishBuildArtifacts@1
    condition: succeededOrFailed()
    displayName: 'Publish'
    inputs:
      pathtoPublish: '$(SYSTEM.ARTIFACTSDIRECTORY)'
      artifactName: 'Azure System Info (Combined)'
