name: System Info

on:
  workflow_dispatch:
      inputs:
            logLevel:
              description: 'Log level'
              required: true
              default: 'warning'
              type: choice
              options:
              - info
              - warning
              - debug
  push:
    branches: [ "master" ]

defaults:
  run:
    shell: bash

jobs:
  Info:
    name: Gather Benchmarks
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2025, windows-2022, ubuntu-22.04, ubuntu-24.04, macos-14, macos-15, macos-15-intel]

    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4


    - name: PS1 Module
      shell: pwsh
      run: |
        Install-Module SqlServer-Version-Management -Force -AllowClobber
        Say "CPU: $(Get-Cpu-Name -IncludeCoreCount)"

    - name: Total Modules
      shell: pwsh
      if: ${{ true }}
      run: 'Write-Host "Total Modules: $((get-module -ListAvailable).Count)"'

    - name: Bootstrap
      uses: devizer/devops-library@main

    - name: Environment
      run: |
        printenv | sort | tee "$SYSTEM_ARTIFACTSDIRECTORY/BASH ENVIRONMENT ${{ matrix.os }}.txt"
        echo $PATH | awk -F':' '{ for(i=1; i<=NF; i++) { print $i }}' | tee "$SYSTEM_ARTIFACTSDIRECTORY/BASH PATH ${{ matrix.os }}.txt"

    - name: Install Node v16.20.2
      run: Run-Remote-Script https://devizer.github.io/devops-library/install-nodejs.sh v16.20.2; Say "BYE"; node --version
    - name: Show Node v16.20.2
      run: node --version; Say 'whereis node'; whereis node || true; Say PATH; echo $PATH | awk -F':' '{ for(i=1; i<=NF; i++) { print $i }}' | tee "$SYSTEM_ARTIFACTSDIRECTORY/BASH PATH plus Node ${{ matrix.os }}.txt"

    - name: Install Node v24.13.1
      if: ${{ !cancelled() }}
      run: Run-Remote-Script https://devizer.github.io/devops-library/install-nodejs.sh v24.13.1; Say "BYE"; node --version
    - name: Show Node v24.13.1
      if: ${{ !cancelled() }}
      run: node --version; Say 'whereis node'; whereis node || true; Say PATH; echo $PATH | awk -F':' '{ for(i=1; i<=NF; i++) { print $i }}'

    - name: System Info
      if: ${{ !cancelled() }}
      run: 'export ReportFileName="GH Actions Sys Info ${{ matrix.os }}.txt"; bash -e Scripts/Show-System-Info.sh'

    - name: Try PostgreSQL on MAC
      if: "${{ runner.os == 'macOS' && !cancelled() }}"
      run: |
        set -eu;
        export ReportFileName="GH Actions Postgres Log ${{ matrix.os }}.txt";
        brew install postgresql
        brew services start postgresql
        sleep 9
        psql -d postgres -c 'SELECT version();' | tee -a "$ReportFileName"
        psql -d postgres -c "select * from pg_settings where name like '%';" | tee -a "$ReportFileName"
        

    - name: Upload artifacts [${{ env.SYSTEM_ARTIFACTSDIRECTORY }}]
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'System Info ${{ matrix.os }}'
        path: ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}
        overwrite: true
           
          
  Combine:
    name: Combine results in a single Artifact
    needs: Info
    if: true
    runs-on: ubuntu-latest
    steps:
    - name: Download All Artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: '**'
        path: "${{ runner.temp }}/Combined"
        merge-multiple: true

    - name: Show Download Structure
      run: 'sudo apt-get update -qq; sudo apt-get install tree -y -qq; tree $RUNNER_TEMP'

    - name: Upload Combined System Info
      uses: actions/upload-artifact@v4
      with:
        name: 'Combined System Info'
        path: "${{ runner.temp }}/Combined"
        overwrite: true

